*{
    padding: 20px;
    margin: auto;
    font-family: 'Nova Square';

}
.outerbox{
    display: flex;
    flex-direction: column;
    background-color: #DEDEDC;
    border-style: solid;
    border-radius: 20px;
    border-width: thin;
    margin: auto;
    flex-wrap: wrap;
    max-width:  750px;
    overflow:auto;
    position: relative;
    
}
.number{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
    padding-top: 0;
    width:90%;
}

.signs{
    display: flex;
    justify-content:center;
    gap: 10px;
    padding-top: 0;
    padding-bottom: 0.5em;
}
.btn{
    
   background-color: #ADA9A3; /* Darker blue */
  color: #3B3838; 
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 25px;
 
}
.btn:hover {
    background-color: #1d2b3a;
  }
.clear .btn {
    background-color:#D2BF91;
    border-style: solid;
    border-color: black;
    border-width: 3px
}
.signs .btn{
    background-color: #696662;
    color: #FFFFFF;     
}
.clear{
    padding-top: 0;
    padding-bottom: 0;
}
.numbz{
    display:flex;
    justify-content: center;
    gap:5px;
    flex-wrap: wrap;
    padding-bottom: 0.5em;
}

.display {
    width: 90%; /* Ensure the display takes 100% width within the outerbox */
    background-color: #B1B4A2;
    color: #ecf0f1;
    font-size: 1.5em;
    padding: 2px;
    border-style: solid;
    border-width: 10px;
    border-color: #D5D5C6 ;
    border-radius: 5px;
    text-align: right;
  }
.header{
    text-align: center;
    font-size: 2em;
}
