*{
    padding: 20px;
    margin: auto;
}
.outerbox{
    display: flex;
    flex-direction: column;
    background-color: #232b33;
    border-style: solid;
    border-radius: 20px;
    border-width: thin;
    margin: auto;
    flex-wrap: wrap;
    max-width:  750px;
}
.number{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 0;
}
.signs{
    display: flex;
    justify-content:center;
    gap: 10px;
    padding-top: 0;
    padding-bottom: 0.5em;
}
#btn{
    
   background-color: #34495e; /* Darker blue */
  color: #ecf0f1; 
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#btn:hover {
    background-color: #1d2b3a;
  }
.clear{
    padding-top: 0;
    padding-bottom: 0;
}
.numbz{
    display:flex;
    justify-content: center;
    gap:10px;
    padding-bottom: 0.5em;
}
#clr{
  background-color: #34495e; /* Darker blue */
  color: #ecf0f1; 
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s
}
.display {
    width: 100%; /* Ensure the display takes 100% width within the outerbox */
    background-color: #486f96;
    color: #ecf0f1;
    font-size: 1.5em;
    padding: 2px;
    border-radius: 5px;
    text-align: right;
    margin-bottom: 5px;
  }
.header{
    text-align: center;
    font-size: 2em;
}